ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

button{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.ds-wrapper{
    overflow: hidden;
}

.ds-wrapper__content{
    min-height: 100vh;
    background: #E4E9EF;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}

.ds-header{
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 3002;
}

.ds-header h2.page-title{
    font-size: 20px;
    padding-top: 6px;
    font-weight: 600;
    margin-left: 20px;
}

.ds-breadcrumb{
    width: 100%;
    margin-bottom: 20px;
}
.ds-breadcrumb li{
    display: inline-block;
    padding: 5px 0;
}
.ds-breadcrumb li:first-child{
    font-weight: 700;
}

.ds-wrapper__content .container{
    max-width: 100%;
}
.ds-box{
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 30px;
    height: 180px;
    position: relative;
}
.ds-box h3{
    font-size: 16px;
    color: #1976BA;
    font-weight: 600;
}

.ds-box .num{
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    color: #125789;
}
.ds-box .num span{
    font-size: 24px;
    color: #A4B8CC;
    font-weight: 400;
}

.main-ct-container{
    padding: 30px;
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.section-header{
    margin-bottom: 15px;
    width: 100%;
    float: left;
    margin-top: -15px;
}

.section-header h3{
    font-size: 16px;
    font-weight: 600;
    color: #1976BA;
    float: left;
    width: 40%;
    margin-bottom: 0;
    padding-top: 14px;
}

.section-header .field-group{
    float: right;
    width: 60%;
    text-align: right;
}
.section-header .field-group .forms{
    display: inline-block;
    position: relative;
    height: 50px;
    margin-left: 6px;
    vertical-align: top;
}
.section-header .field-group .forms.src-form{
    width: calc(40% - 10px);
}
.section-header .field-group .forms.calendar-form{
    width: calc(60% - 10px);
}
.section-header .field-group .forms.calendar-form .text-input-group.date,
.section-header .field-group .forms.calendar-form .text-input-field.date{
    width: 100%;
}

.section-header .field-group .text-input-group{
    background: #fff;
}

.section-header .field-group .forms input{
    width: 100%;
    height: 50px;
    top: 0;
    border: 1px solid #dedede;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding-left: 20px;
}
.section-header .field-group .forms.src-form input:focus{
    outline: none;
    border: 1px solid #125789;
}
.section-header .field-group .forms button{
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 2;
    height: 44px;
    background: #125789;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #fff;
    font-size: 14px;
}
.section-header .field-group .forms button i{
    font-size: 18px;
}
.section-header .field-group .forms.calendar-form input{
    padding-right: 160px;
}
.section-header .field-group .forms.calendar-form .text-input-field + .text-input-label{
    margin: 14px 15px;
}

.main-ct-container table{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.main-ct-container table th{
    background: #f4f4f4;
    padding: 15px 20px;
    font-size: 13px;
    color: #333;
}
.main-ct-container table td{
    font-size: 13px;
    padding: 10px 20px;
    border-bottom: 1px solid #dedede;
    vertical-align: top;
}
.main-ct-container table td span{
    color: #2294E7;
    display: block;
    font-weight: 600;
    white-space: nowrap;
}
.main-ct-container table td span.small-txt{
    font-size: 11px;
}
.main-ct-container table td i{
    font-size: 11px;
    color: #555;
}

.ds-content{
    /* height: calc(100vh - 60px); */
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;
}

.big-box{
    width: 100%;
    float: left;
    height: 110px;
    margin-bottom: 10px;
    background: #125789;
    position: relative;
    padding: 7px 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.big-box.book-bg{
    background: #245DA4 url(https://transtest.rschooltoday.com/app/images/redesign/book.png) no-repeat right bottom;
}
.big-box.train-bg{
    background: #3480CB url(https://transtest.rschooltoday.com/app/images/redesign/train.png) no-repeat right bottom;
}
.big-box.car-bg{
    background: #4AA6E7 url(https://transtest.rschooltoday.com/app/images/redesign/car.png) no-repeat right bottom;
}

.big-box .text{
    width: 60%;
    float: left;
}
.big-box .text span{
    font-size: 36px;
    font-weight: 700;
    color: rgba(255,255,255,0.8);
}
.big-box .text h6{
    font-size: 13px;
    color: rgba(255,255,255,0.8);
}
.big-box .text a{
    font-size: 13px;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 40px;
    color: rgba(255,255,255,0.7) !important;
    width: 40%;
}
.big-box .text a i{
    position: absolute;
    top: 3px;
    right: -20px;
}

.btn-group button{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.trip-src form{
    float: left;
    position: relative;
}
.trip-src form input{
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #dedede;
    padding: 0 20px;
    width: 280px;
}
.trip-src form button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background: #125789;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 !important;
}
.trip-src .button--secondary{
    float: right;
}

.main-ct-container p{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #EB4242;
    font-weight: 600;
    margin-bottom: 60px;
}

/* chart ds box */
.ds-box .chart {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 93px;
}
.ds-box .chart-wrap{
    width: 180px;
    position: absolute;
    bottom: -35px;
    right: -20px;
}
.ds-box .chart-wrap canvas{
    width: 100% !important;
    height: 100% !important;
}
.ds-header__list li:first-child{
    border-right: 1px solid #dedede;
    margin-right: 10px;
    padding-right: 20px;
}
.ds-header__list li .icon{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 3px;
}
.ds-header__list li .icon.icon-grid{
    background: url(https://transtest.rschooltoday.com/app/images/redesign/grid-menu.png);
}

.ds-header__left .ds-button__sidebar .icon{
    padding: 0;
    width: 40px;
    height: 40px;
    background: url(https://transtest.rschooltoday.com/app/images/redesign/arrow-left.svg) no-repeat center;
    background-size: contain;
}
.ds-wrapper.sidebar__collapse .icon-bars{
    background: url(https://transtest.rschooltoday.com/app/images/redesign/bars.svg) no-repeat center;
    background-size: contain;
}

.ds-sidebar .navbar-nav li.show > a{
    background-color: rgba(0,0,0,0);
    color: #125789 !important;
}

.ds-sidebar .navbar-nav li.show2 > a{
    background-color: rgba(0,0,0,0);
    color: #125789 !important;
}

.nav-item a{
    position: relative;
}
.nav-item.show a::before{
    content: "";
    width: calc(100% - 8px);
    height: 40px;
    background: #E4E9EF;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: -1;
    border-radius: 30px 0 0 30px;
}

.nav-item.show2 a::before{
    content: "";
    width: calc(100% - 8px);
    height: 50px;
    background: #E4E9EF;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: -1;
    border-radius: 30px 0 0 30px;
}

.nav-item.show a.dropdown-item::before{
    display: none;
}

.nav-item.show2 a.dropdown-item::before{
    display: none;
}

.nav-item a .ds-nav__icon{
    position: relative;
    z-index: 2;
}

.dropdown-toggle::after{
    display: none;
}
.ds-header__list > li .ds-list__profile img{
    margin-right: 10px;
}
.ds-header__list .dropdown-menu.show{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ds-header__list .dropdown-menu.show2{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.ds-header__list .ds-list__dropdown:before{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

footer{
    position: fixed;
    bottom: 0;
    height: 60px;
    right: 0;
    width: calc(100% - 240px);
    left: 240px;
    background-color: #fff;
    color: #333;
    padding-top: 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.15);
    z-index: 3002;
}

body.modal-open .ds-header,
body.modal-open footer {
    z-index: 99;
}
footer p{
    font-size: 14px;
}

.main-ct-container table button{
    white-space: nowrap;
}

.field-group .text-input-field + .text-input-label{
    padding-left: 6px;
}
.col-md-2 .ds-box .num{
    padding-top: 20px;
}

.section-header .field-group .forms.calendar-form .text-input-field:focus + .text-input-label, .section-header .field-group .forms.calendar-form .text-input-field:valid + .text-input-label{
    margin-top: 10px;
}

.trip-src form input:focus{
    outline: none;
    border: 1px solid #125789;
}

.ds-wrapper .ds-sidebar,
.ds-wrapper.sidebar__collapse .ds-sidebar{
    width: 240px;
}
.ds-wrapper .ds-sidebar{
    left: 0;
    transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
}
.ds-wrapper.sidebar__collapse .ds-sidebar{
    left: -240px;
}

.ds-sidebar .navbar-nav li .dropdown-menu a.dropdown-item {
    padding-left: 2.5rem;
    white-space: normal;
    display: table;
    vertical-align: middle;
}
.ds-sidebar .navbar-nav li > .dropdown-menu .ds-nav__icon {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    width: 40px;
    padding-right: 10px;
}

.ds-wrapper.sidebar__collapse .ds-wrapper__content .ds-header,
.ds-wrapper.sidebar__collapse .ds-wrapper__content footer {
    left: 0;
    right: 0;
    width: 100%;
}


@media only screen and (max-width: 1600px){
    .section-header h3{
        width: 20%;
    }
    .section-header .field-group{
        width: 80%;
    }
    .ds-box .chart-wrap{
        width: 140px;
        bottom: -16px;
        right: -10px;
    }
    .ds-box{
        padding: 15px;
        height: 125px;
        margin-bottom: 20px;
    }
    .ds-box h3{
        font-size: 14px;
    }
    .ds-box .text{
        width: 80%;
    }
    .big-box .text a{
        font-size: 11px;
    }
    .big-box .text h6{
        font-size: 11px;
    }
    .ds-box .chart{
        height: 75px;
    }
    .big-box .text{
        width: 70%;
    }

    .col-md-2 .ds-box .num{
        padding-top: 4px;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1024px){
    .table-responsive.mb-5{
        margin-bottom: 0 !important;
    }
    .ds-wrapper .ds-sidebar{
        width: 240px;
    }
    .ds-wrapper.sidebar__collapse .ds-sidebar{
        width: 240px;
    }
    .col-md-9{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .col-md-3{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .big-box{
        width: calc((100% - 20px) / 3);
        margin-right: 10px;
    }
    .big-box:nth-child(3n){
        margin-right: 0;
    }

    .ds-wrapper__content .col-md-8.text-right{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 20px;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 812px){
    .big-box{
        width: 100%;
    }
    footer p{
        margin-bottom: 8px;
    }

    .ds-header__list .dropdown-menu.show{
        right: 5px;
    }
	
	.ds-header__list .dropdown-menu.show2{
        right: 5px;
    }
	
    .ds-header__list .ds-list__dropdown:before{
        left: 78%;
    }
}

@media (min-width: 768px) {
    .ds-wrapper__content{
        margin-left: 240px;
        transform: none;
    }
    .ds-wrapper.sidebar__collapse .ds-wrapper__content{
        margin-left: 0;
        transform: none;
    }
}

@media only screen and (max-width: 568px){
    .big-box{
        width: 100%;
        margin-right: 0;
    }
    .col-md-9{
        margin-bottom: 0;
    }
    .ds-header h2.page-title{
        font-size: 13px;
    }
    .btn-group button{
        width: 100%;
        margin-bottom: 5px;
    }
    .main-ct-container{
        margin-bottom: 30px;
        padding: 15px;
    }
    .ds-content{
        padding: 80px 0 30px;
    }
    .section-header h3{
        width: 100%;
        margin-bottom: 10px;
    }
    .section-header .field-group{
        width: 100%;
    }
    .section-header .field-group .forms.calendar-form,
    .section-header .field-group .forms.src-form{
        width: 100%;
    }
    .section-header .field-group .forms.calendar-form{
        margin-bottom: 10px;
    }

    .col-md-2 .ds-box{
        height: auto;
    }

    .section-header .field-group .forms.src-form{
        margin-bottom: 10px;
    }
    .section-header .field-group .forms{
        margin-left: 0;
    }

    .trip-src form{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .ds-box{
        margin-bottom: 10px;
    }

    .btn-group button{
        margin-left: 0;
    }
    .trip-src form input{
        width: 100%;
    }
    
}

/*Bug 113759*/

#scroller{
    right: -1px !important;
}

ul.ds-header__list[href="/login/signout"]{
	height:17px;
}

.ds-header__left .ds-button__sidebar{
	position: relative;
	z-index: 5;
}

@media only screen and (max-width: 823px){
    .btn-group.three button, 
    .btn-group.three button a{
        margin-bottom: 10px;
    }

    .ds-sidebar .navbar{
        width: 240px;
    }

    .ds-content{
        width: calc(100% + 240px);
        margin-left: -240px;
        background: #E4E9EF;
    }
    .ds-wrapper.sidebar__collapse .ds-content{
        width: 100%;
        margin-left: 0;
    }

    .ds-wrapper .ds-wrapper__content,
    .ds-wrapper.sidebar__collapse .ds-wrapper__content{
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
    }

    .ds-header__list li a span span{
        display: none;
    }
    .ds-wrapper.sidebar__collapse .ds-header__list li a span.logout_{
        display: inline;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px){
    .col-md-9,
    .col-md-3,
    .col-md-4,
    .col-md-8{
        width: 100%;
    }
    .btn-group.three{
        margin-bottom: 10px;
    }
    .ds-breadcrumb{
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 568px){
	.ds-header .row .col-xs-6:nth-child(2) {
    		display: none;
	}

	.ds-wrapper.sidebar__collapse .ds-header h2.page-title,
	.ds-wrapper.sidebar__collapse .ds-header .row .col-xs-6:nth-child(2){
		display: block;
	}
    footer p{
        font-size: 11px;
    }

    .ds-header__list .dropdown-menu.show{
        width: 200px;
    }
    .ds-header__left .page-title{
        display: none;
    }

    .ds-header__list > li{
        text-align: center;
    }
    .ds-header h2.page-title{
        display: none !important;
    }
    .ds-header .col-sm-6:first-child{
        float: left;
    }
    .ds-header .col-sm-6:last-child{
        float: right;
    }
}

@media only screen and (max-width: 320px){
    .ds-wrapper.sidebar__collapse .ds-wrapper__content footer{
        padding-top: 14px;
    }
}

@media only screen and (max-height: 568px){
    .open>.dropdown-menu{
        height: 200px;
    }
}