<div class="col-md-12">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">First Name: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="staticEmail" >
        </div>
        <label for="staticEmail" class="col-sm-2 col-form-label">Cellphone: </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Middle Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="staticEmail" >
        </div>
        <label for="staticEmail" class="col-sm-2 col-form-label">UserName: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Last Name: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
        <label for="staticEmail" class="col-sm-2 col-form-label">Password: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email Address: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
        <label for="staticEmail" class="col-sm-2 col-form-label">Confirm Password: <span style="color:red">*</span></label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Phone:</label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Google Unique ID:</label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Rapid Identity ID:</label>
        <div class="col-sm-4">
            <input type="text"  class="form-control" id="staticEmail" >
        </div>
    </div>
</div>
<label class="col-sm-2 col-form-label">Permission </label>
<div class="col-md-12 pt-3 pb-3 bg-rst-light-blue">
    <div class="row ml-2">
        <input class="form-check-input inactive_ids" type="checkbox" checked name="work_orders" value="1" id="premission">
        <label class="form-check-label mr-5" for="premission">
            Create Work Orders
        </label>
    </div>
    <div class="row ml-5">
        <input class="form-check-input inactive_ids" type="radio" checked name="permission" value="1" id="all-buildings">
        <label class="form-check-label mr-5" for="all-buildings">
            Allowed to create work orders for all buildings
        </label>
    </div>
    <div class="row ml-5">
        <label for="staticEmail" class="col-sm-3 col-form-label">Default Building:</label>
        <div class="col-sm-4">
            <select class="custom-select custom-select-sm">
                <option selected>Select Building</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row ml-5">
        <label for="staticEmail" class="col-sm-3 col-form-label">Default Location:</label>
        <div class="col-sm-4">
            <select class="custom-select custom-select-sm">
                <option selected>Select Location</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row ml-5">
        <input class="form-check-input inactive_ids" type="radio" name="permission" value="0" id="selected-buildings">
        <label class="form-check-label mr-5" for="selected-buildings">
             Allowed to create work orders ONLY for this Building:
        </label>
    </div>
    <div class="row ml-5">
        <select class="custom-select" multiple>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<div class="col-md-12 pt-3 pb-3 bg-rst-light-blue">
    <div class="row ml-2">
        <input class="form-check-input inactive_ids" type="checkbox" checked name="fs_calendar" value="1" id="fs_calendar">
        <label class="form-check-label mr-5" for="fs_calendar">
            View FS Calendar Tab
        </label>
    </div>
</div>